body {
	background-color: rgb(233,229,232);
}

.box {
  box-shadow: 3px 5px 20px #b6b0b4;
  max-width: 1024px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  position:relative;
 }

#volha {
  background-position: center;
  width: 100%;
}

header div {
  position: absolute;
  top: 60px;
  left: 60px;
}

h1 {
  position: relative;
  font-size: 4vw;
  font-family: "Roboto";
  color: white;

}

header div p{
  top:20px;
  font-size: 2vw;
}

nav {
  position: fixed;
  width: 100%;
  z-index:10;
  background-color: none;
}

nav ul {
  margin: 5px auto;
  padding: 0 30px;
  text-align: right;
}

nav li {
  display: inline-block;
  width: 40px;
}

.introduction, .skills, .education{
	margin: 60px 100px 70px 100px;
}
.english {
	margin: 60px 100px 70px 100px;
	padding-bottom: 60px;

}

main {
	margin: 0px 0px 100px 0px;
}



h2 {
	margin-left: 62px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto"
}

hr {
width: 92%;
height: 1.5px;
margin-left: 62px;
margin-right: auto;
background-color: #dd9cbc;
border: 0 none;
margin-top:0px;
margin-bottom:30px;
	}

p, table, ul {
	font-family: "Roboto";
	font-size: 14px;
	line-height: 20pt;
}



